* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    white-space: nowrap;
    height: 3rem;
}

.cell {
    width: 3rem;
    height: 3rem;
    background-color: #87CEEB;
    display: inline-block;
}
.cell:hover{
    border: 1px black solid;
}

.grass {
    background: url(./blocks/grass.webp) center center/cover;
}

.dirt{
    background: url(./blocks/dirt.webp) center center/cover;
}
.stone{
    background: url(./blocks/stone.webp) center center/cover;
}
.bedrock{
    background: url(./blocks/bedrock.webp) center center/cover;
}

#inventory{
    position: fixed;
    top: 2rem;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    display: flex;
    background: url(./blocks/stone.webp);
    background-size: 3rem 3rem;
    padding: 2px;
}
.inventory-slot {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-color: white;
    margin: 2px;
    padding: 0.2rem;
}

.item{
    height: 100%;
    width: 100%;
}

